gradio==4.44.1
fastapi==0.112.2
starlette==0.38.2
huggingface-hub<0.27.0
faster-whisper==1.2.1
rembg==2.0.69
onnxruntime-gpu==1.23.2
Pillow
soundfile==0.13.1
transformers==4.50.3
accelerate==1.13.0
numpy<2
pydantic==2.9.2
mutagen==1.47.0
pycryptodomex==3.23.0
